html {
    height: 100%;
    overflow: hidden;
  }
body {
    margin:0;
    padding:0;
      -webkit-perspective: 1px;
      perspective: 1px;
      -webkit-transform-style: preserve-3d;
      transform-style: preserve-3d;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    background-image: url("img/map-of-the-world-2401458_960_720.jpg");
    background-size: cover;
}
.menu{
    background-color:rgb(255, 255, 255);
    top: 0;
    padding-top: 10px;
    position: absolute;
    display: block;
    width: 100%;
    height: 1.5cm;
    bottom: 0px;
    left: 0px;
    right: 0px;
    font-family: 'Courier New', Courier, monospace;
}
.nomeaz{
    font-family: 'Lobster', cursive;
    color: #ca932b;
    float: left;
    margin-left: 0.5cm;
    margin-top: 5px;
    margin-right: 1cm;
    border: 2px solid rgba(0, 60, 88, 0.548);
}
.c_menu{
    text-align: left;
    color: rgb(255, 255, 255);
    padding-top: 0.3cm;

}
.amenu:hover{
    color: rgba(0, 60, 88, 0.548);
    -webkit-transition: color 250ms ease;
    transition: color 250ms ease;
}
.amenu{
    color: #b37b13;
    text-decoration: none;
    text-align: left;
    margin-left: 0px;
    padding-left: 0px;
    font-size: 17px;
    display: block;
    text-transform: uppercase;

}
.menutend{
    background-color: rgba(255, 255, 255);
}
ul li ul{
    display:none;
    position: relative;

}
ul{
    list-style: none;

}

ul li:hover ul{
    display:block;
    position: absolute;
    padding-left: 1%;
    padding-top: 0.4cm;
    height: 250%;
    width: 12%;

}

.c_menu_index{
    float: left;
    text-align: left;
    margin-right: 2cm;
    margin-top: -2px;

}

.titoli1{
    font-family: 'Lobster', cursive;
    font-size: 1.4cm;
    color: rgb(0, 65, 59);
    padding-left: 2cm;

}
.titoli2{
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 1cm;
    margin-top: 0.5cm;
    color: #af7914;
    padding-left: 2cm;
    font-size: 0.55cm;
    text-align: left;
}
.titoloant{
    color: rgb(0, 65, 59);
    font-size: 0.8cm;
    font-family: 'Lobster', cursive;
    margin-bottom: 1cm;
    background-color: rgba(255, 255, 255, 0.582);
    width: 100%;
    text-align: center;
    position: absolute;
}
.ptesto{
    background: rgba(242, 254, 255, 0.829);
    width: 60%;
    margin-top: 2.5cm;
    height: 6cm;
    margin-left: 1cm;
    position: absolute;
}

.image1{
    width: 16cm;
    height: 9cm;
    float: left;
}
.imgviaggi{
    width: 26cm;
    height: 17cm;
    margin-top: 1cm;
    margin-bottom: 1cm;
    margin-left: 20cm;
    box-shadow: 10px 10px 5px rgba(168, 168, 168, 0.226);
}
  .anteprima{
    background-color: rgba(255, 255, 255, 0.562);
    height: 30cm;
    width: 100%;
    display: flex;
    margin-top: 10cm;
  }
  
@media only screen and (max-width:800px) {
    .MainContainer {
      width: 80%;
      padding: 0;
    }
    .ParallaxContainer {
      width: 100%;
    }
  }
  @media only screen and (max-width:500px) {
    .MainContainer {
      width: 100%;
    }
}
.page{
    margin-top: 6cm;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.562);
}

.tr_img {
    margin-top: 1cm;
    margin-bottom: 15cm;
    margin-left: 18%;
}
  
.tr_img img{
    position:absolute;
    transition: 1s;
}
  
.tr_img img.sopra:hover{
    opacity:0;
}
.divimagini{
    width: 100%;
    margin-top: 1cm;
}

/*<a class="titoloant">Qui sotto vi sono le anteprime delle località che vi offriamo.</a>*/