html,body{
    margin:0;
    padding:0;
    overflow: hidden;
    background: url("img/sfondo.jpg");
}

.menu{
    background: rgba(255, 255, 255, 0.363);
    top: 0;
    z-index:9999;
    padding-top: 10px;
    position: absolute;
    display: block;
    width: 100%;
    height: 1.5cm;
    bottom: 0px;
    left: 0px;
    right: 0px;
    font-family: Montserrat,-apple-system,BlinkMacSystemFont,Segoe UI,Fira Sans,Helvetica Neue,Arial,sans-serif;
}
.nomeaz{
    font-family: 'Lobster', cursive;
    color: rgb(255, 255, 255);
    float: left;
    margin-left: 0.5cm;
    margin-top: 5px;
    margin-right: 1cm;
    border: 2px solid rgba(1, 63, 122, 0.466);
}
.c_menu{
    text-align: left;
    color: rgb(255, 255, 255);
    padding-top: 0.2cm;
}

.c_menu:hover{
    background-color: rgba(255, 255, 255, 0.274);
}
.amenu:hover{
    text-shadow: 4px 4px 5px #5252527a; 
    text-decoration-line: underline;
}
.amenu{
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-align: left;
    margin-left: 0px;
    padding-left: 0px;
    font-size: 0.4cm;
}

ul li ul{
    display:none;
    position: relative;

}
ul{
    margin-bottom: 2cm;
    list-style: none;

}

ul li:hover ul{
    display:block;
    text-align: center;
    position: absolute;
    padding-left: 0.0cm;
    padding-right: 0.5cm;
    padding-top: 0.2cm;
}

.c_menu_index{
    float: left;
    margin-top: 2px;
    text-align: left;
    margin-right: 2cm;

}
.menuop{
    float: left;
}
.titoli1{
    font-family: Montserrat,-apple-system,BlinkMacSystemFont,Segoe UI,Fira Sans,Helvetica Neue,Arial,sans-serif;
    font-size: 1.5cm;
    color: rgb(0, 65, 59);
    padding-left: 2cm;

}
.titoli2{
    font-family: Montserrat,-apple-system,BlinkMacSystemFont,Segoe UI,Fira Sans,Helvetica Neue,Arial,sans-serif;
    margin-bottom: 1cm;
    margin-top: 0.5cm;
    padding-top: 2cm;
    color: #98670b;
    padding-left: 2cm;
    font-size: 0.5cm;
    text-align: left;
}
.page{
    background: rgba(255, 255, 255, 0.37);
    display: block;
    width: 100%;
    height: 9cm;
    margin-top: 5.5cm;
}
.image1{
    width: 16cm;
    height: 9cm;
    margin-top: 0cm;
    float: left;
    margin-right: 2cm;
}
.divimagini{
    width: 2000px;
    margin: 100px auto 20px auto;
    padding-right: 150px ;
    padding-left: 40px ;
}
.image2{
    width: 16cm;
    height: 9cm;
    margin-top: 0cm;
    float: left;
    margin-right: 2cm;
    margin-top: 1cm;
}

@media only screen and (max-width:800px) {
    .MainContainer {
      width: 80%;
      padding: 0;
    }
    .ParallaxContainer {
      width: 100%;
    }
  }
  @media only screen and (max-width:500px) {
    .MainContainer {
      width: 100%;
    }
  }