html {
    height: 100%;
    overflow: hidden;
  }
body {
    word-wrap:break-word !important;
    margin:0;
    padding:0;
      -webkit-perspective: 1px;
      perspective: 1px;
      -webkit-transform-style: preserve-3d;
      transform-style: preserve-3d;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    background-image: url("img/map-of-the-world-2401458_960_720.jpg");
    background-size: cover;
}

#logo{
    font-family: 'Lobster', cursive;
    color: #ca932b;
    margin-right: 1cm;
    position: absolute;
    border: 2px solid rgba(0, 60, 88, 0.548);
    margin-top: 5px;
}
#logo2{
    font-family: 'Lobster', cursive;
    color: #ca932b;
    margin-right: 1cm;
    border: 2px solid rgba(0, 60, 88, 0.548);
    margin-top: 10px;
    margin-bottom: 0%;
    margin-left: 8px;
}
ul{
    font-family: 'Courier New', Courier, monospace;
    padding: 0;
    margin-top: 0%;
	list-style-type: none;
	background: #e0e0e0;
	position: relative;
}

ul li {
    display: inline-block;
}

ul li a {
    color: #af7f25;
	text-decoration: none;
	padding: 15px;
    display: block;
    text-transform: uppercase;
}
ul li a:hover {
    color: rgba(0, 60, 88, 0.548);
    -webkit-transition: color 250ms ease;
    transition: color 250ms ease;
}

ul ul {
	position: absolute;
	min-width: 200px;
	background: lightgrey;
	display: none;
}

ul ul li {
	display: block;
	background: #e3e3e3;
}

ul li:hover ul {
	display: block;
}

ul li i {
	color: #292929;
	float: right;
	padding-left: 20px;
}

nav div {
	background: lightgrey;
	color: #292929;
	font-size: 24px;
    padding-left: 1cm;
	cursor: pointer;
	display: none;
}

@media(max-width: 768px) {
	nav div {
        margin-top: 0%;
        padding-top: 0%;
        display: block;
        background-color: #e0e0e0;
        height: 1.5cm;
    }
    #logo{
        font-size: 1cm;
        border: 1px solid rgba(0, 60, 88, 0.548);
    }
    .logo2c{
        display: none;
        background: rgba(0, 0, 0, 0);
    }

	ul {
		  display: none;
		  position: static;
		  background: #e3e3e3;
	}

	ul li {
		  display: block;
    }

	ul ul {
		  position: static;
		  background: #e3e3e3;
	}
}

.titoli1{
    font-family: 'Lobster', cursive;
    font-size: 1.4cm;
    color: rgb(0, 65, 59);
    padding-left: 2cm;

}
.titoli2{
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 1cm;
    margin-top: 0.5cm;
    color: #af7914;
    padding-left: 2cm;
    font-size: 0.55cm;
    text-align: left;
}
.titoloant{
    color: rgb(0, 65, 59);
    font-size: 0.8cm;
    font-family: 'Lobster', cursive;
    margin-bottom: 1cm;
    background-color: rgba(255, 255, 255, 0.582);
    width: 100%;
    text-align: center;
    position: absolute;
}
.ptesto{
    background: rgba(242, 254, 255, 0.829);
    width: 60%;
    margin-top: 2.5cm;
    height: 6cm;
    margin-left: 1cm;
    position: absolute;
}

.image1{
    width: 16cm;
    height: 9cm;
    float: left;
}
.imgviaggi{
    width: 26cm;
    height: 17cm;
    margin-top: 1cm;
    margin-bottom: 1cm;
    margin-left: 20cm;
    box-shadow: 10px 10px 5px rgba(168, 168, 168, 0.226);
}
  .anteprima{
    background-color: rgba(255, 255, 255, 0.562);
    height: 30cm;
    width: 100%;
    display: flex;
    margin-top: 10cm;
  }
.page{
    margin-top: 6cm;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.562);
    position: static
}

.tr_img {
    margin-top: 1cm;
    margin-bottom: 15cm;
    margin-left: 18%;
}
  
.tr_img img{
    position:absolute;
    transition: 1s;
}
  
.tr_img img.sopra:hover{
    opacity:0;
}
.divimagini{
    width: 100%;
    margin-top: 1cm;
}

@media only screen and (max-width:10cm){
    .titoli2{
        font-size: 0.4cm;
        width: 100%;
        margin-left: 1%;
        padding-left: 1%;
    }
    .titoli1{
        font-size: 0.5cm;
        width: 100%;
        margin-left: 1%;
        padding-left: 1%;
    }
    .ptesto{
        margin-top: 1cm;
        width: 100%;
        margin-left: 0%;
        padding-left: 0%;
    }
    .page{
        height: 8cm;
    }
    .tr_img{
        clear: right;
        display: block;
    }
    .image1{
        width: 9cm;
        height: 6cm;
        clear: right;
        display: block;
    }

}