html {
    height: 100%;
    overflow: hidden;
}

body{
    background-repeat: no-repeat;
    background-size: cover;
    word-wrap:break-word;
    margin:0;
    padding:0;
    overflow-y: scroll;
    overflow-x: hidden;
    transform-style: preserve-3d;
    height: 100%;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1.6cm 150cm 6cm;
	animation: 0.8s fadein 0.8s forwards;
	opacity: 0;
}
@keyframes fadein {
	100%{
		opacity: 1;
    }
}

.wrapper2 {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1.6cm 90cm 6cm;
	animation: 0.8s fadein 0.8s forwards;
	opacity: 0;
}
@keyframes fadein {
	100%{
		opacity: 1;
    }
}

nav {
    grid-column: span 12;
    margin: 0;
    padding: 0;
    background-color: #e0e0e02a;
}

.mezzo {
    grid-column: span 12;
    margin-top: 15%;
    margin-bottom: 2%;
}

footer{
    grid-column: span 12;
    border-top: solid grey 1px;
}

.bodyBrentonico{
    background-image: url(/img/immaginibrentonico/bimg3.jpg);
}
.bodyFiji{
    background-image: url(/img/immaginiFiji/fijibg.jpg);
}
.bodyN{
    background-image: url(/img/immaginiNorvegia/NGBG.gif);
}
.bodyK{
    background-image: url(/img/immaginiKilimanjaro/kgb.jpg);
}
.bodyR{
    background-image: url(/img/immaginiRuaha/RBG.jpg);
}
.bodyI{
    background-image: url(/img/office.jpg);
}

.toggle, [id^=drop] {
    display: none;
    }
label{
    display: none;
}

#logo {
    display: block;
    padding: 0 30px;
    float: left;
    font-size: 20px;
    line-height: 60px;
}
   
nav:after {
    content: "";
    display: table;
    clear: both;
}
   
nav ul {
    float: left;
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
}
nav ul li {
    margin: 0px;
    display: inline-block;
}
   
nav a {
    display: block;
    padding: 0 20px;
    color: #86621d;
    font-family:'Oswald';
    text-rendering: optimizeLegibility;
    font-size: 16.5px;
    line-height: 60px;
    text-decoration: none;
    transition: color 300ms ease;  
    text-transform: uppercase;
}
nav ul ul a{
    line-height: 40px;
}

nav a:hover {
    color: #daaa52;
    text-decoration: underline;
}
  
nav ul ul {
    display: none;
    position: absolute;
    top: 60px;
    background-color: #e0e0e02a;
}
   
nav ul li:hover > ul { display: inherit; }
   
nav ul ul li {
    width: 170px;
    float: none;
    display: list-item;
    position: relative;
    color:#e0e0e0c4;
}
   
nav ul ul ul li {
    position: relative;
    top: -60px;
    left: 170px;
    color:#e0e0e0c4;
}
#logo2{
    font-family: 'Lobster', cursive;
    color: #a77415;
    margin-right: 1cm;
    border: 2px solid rgba(0, 60, 88, 0.548);
    margin-top: 10px;
    margin-bottom: 0%;
    transition-property: color;
    transition-duration: 2s;
    transition-timing-function: linear;
}
 
#logo2:hover{
    color: rgba(0, 60, 88, 0.548);
}
 
.logo2c{
    margin-left: 0.5cm;
}
.togglelog {
   font-family: 'Lobster', cursive;
   color: #ca932b;
   border: 2px solid rgba(0, 60, 88, 0.548);
   margin-top: 5px;
   font-size: 220%;
   padding-left: 10%;
}

.titoli1{
    font-family: 'Amatic SC', cursive;
    font-size: 400%;
    color: rgb(0, 65, 59);
    padding-left: 5%;
}

.titoli2{
    font-family: 'Lobster', cursive;
    margin-bottom: 1%;
    margin-top: 1%;
    color: #45691b;
    padding-left: 5%;
    font-size: 180%;
    font-weight: 100;
    text-align: left;
}

.ptesto{
    background: rgba(242, 254, 255, 0.829);
    width: 75%;
    padding-top: 1%;
    height: 8%;
    margin-left: 1%;
}

.footerul {
    display: block;
    width: 100%;
    line-height: 250%;
}

.afoot{
    font-size: 90%;
    color: rgb(214, 210, 190);
    font-family: 'Oswald';
    text-decoration: none;
}

.afoot:hover{
    color: #ffffff;
    font-size: 90.6%;
    text-decoration: underline;
}

.info{
    float: left;
    height: 4%;
    background-color: transparent;
}
.afoot2{
    padding-top: 3%;
    font-family: 'Oswald';
    color: #e0e0e0;
    margin-left: 5%;
    text-align: right;
    margin-right: 10%;
}

.offerte{
    width: 100%;
    background: rgba(255, 255, 255, 0.829);
    height: 20%;
    padding-left: 7%;
    margin-top: 20%;
    opacity: 0;
    margin-top: 90%;
    animation: 1s slidefade 1s forwards;
}
@keyframes slidefade{
    100%{
        opacity: 1;
        position:relative;
        margin-top: 20%;
    }
}

.h2of{
    font-family: 'Amatic SC', cursive;
    margin-bottom: 1%;
    font-size: 360%;
}

.h2dids{
    font-family: 'Amatic SC', cursive;
    font-size: 300%;
    padding-top: 0%;
    margin-top: 0%;
}

.h2dids2{
    font-family: 'Amatic SC', cursive;
    font-size: 300%;
    padding-top: 0%;
    margin-top: 0%;
    text-align: right;
}

.of1{
    width: 20%;
    float: left;
    height: 50%;
    margin-right: 2%;
    background-color: rgb(255, 255, 248);
    transition: all 0.5s ease-in-out;
}

.of2{
    width: 20%;
    float: left;
    height: 50%;
    background-color: rgb(255, 255, 248);
    transition: all 0.5s ease-in-out;
}

.of2:hover{
    height: 60%;
    width: 25%;
    background-color: rgb(247, 247, 232);
}
.of2:hover table{
    color: rgb(61, 61, 61);
    border: 1px solid rgba(0, 128, 0, 0.315);
}
.of2:hover h3{
    display: block;
}
.costo{
    background-color: transparent;
    border-radius: 7px;
    width: 40%;
    color: transparent;
    font-family: 'Oswald';
    text-align: center;
    height: 5%;
    font-size: 160%;
    margin-left: 2%;
    transition: all 0.7s ease-in-out;
}

.of2:hover .costo{
    background-color: rgb(0, 88, 139);
    color: rgb(247, 247, 232);
}

.of1:hover{
    height: 60%;
    width: 25%;
    background-color: rgb(247, 247, 232);
}
.of1:hover table{
    color: rgb(61, 61, 61);
    border: 1px solid rgba(0, 128, 0, 0.315);
}
.of1:hover h3{
    display: block;
}
.of1:hover .costo{
    display: block;
    background-color: rgb(0, 88, 139);
    color: rgb(247, 247, 232);
}

.titolopacchetti{
    text-align: center;
    font-family: 'Amatic SC', cursive;
}

.ulof{
    display: block;
    margin: 3% 3% 3% 3%;
    background-color: transparent;
    font-size: 15px;
    font-weight: 300;
    font-family: 'Oswald';
    color: rgb(34, 34, 34);
    text-justify: distribute;
}

.ulofmappa{
    font-size: 90%;
    font-family: 'Oswald';
    color: rgb(34, 34, 34);
    transition: all 1s ease-out;
}
.ulofmappa:hover{
    color: rgb(0, 0, 0);
    font-size: 92%;
}

.ulof1{
    display: block;
    margin: 3% 3% 2% 1%;
    background-color: transparent;
    font-size: 20px;
    font-weight: 100;
    font-family: 'Oswald';
    color: rgb(34, 34, 34);
    text-justify: distribute;
}
.ulof2{
    display: block;
    margin: 3% 3% 2% 1%;
    background-color: transparent;
    font-size: 20px;
    font-weight: 100;
    text-align: right;
    font-family: 'Oswald';
    color: rgb(34, 34, 34);
    text-justify: distribute;
}

table{
    transition: all 1s ease-out;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 2%;
    font-family: 'Oswald';
    color: transparent;
    border: 1px solid transparent;
}

h3{
    margin-left: 2%;
    position: relative;
    display: none;
    font-family: 'Amatic SC', cursive;
    color: green;
}


.galleriaimmagini{
    height: 20cm;
    width: 100%;
}

.image1{
    width: 30%;
    height: 30%;
    transition: all 0.5s ease-in-out;
    margin: 0.5%;
}

.image1:hover{
    width: 30.3%;
    height: 30.3%;
    margin-bottom: 0.3%;
}

.divimg {
    padding-left: 0.0787402%;
    width: 100%;
    height: 63.8%;
    background: rgba(255, 255, 255, 0.829);
} 
.dids1{
    width: 100%;
    margin-bottom: 4%;
    padding-top: 4%;
    padding-bottom:4%;
    display: inline-block;
    border-bottom: solid rgb(112, 112, 112) 1px;
    border-top: solid rgb(112, 112, 112) 1px;
}
.dids2{
    margin-bottom: 4%;
    width: 100%;
    display: inline-block;
}
.dids2 .image1{
    float: right;
}
.dids1 .image1{
    float: left;
}
@media only screen and (max-width: 1300px){
    .of1{
        width: 60%;
        clear: right;
        margin-bottom: 3%;
        margin-left: -6%;
    }
    
    .of2{
        width:60%;
        clear: right;
        margin-left: -6%;
    }
    .of1:hover{
        width: 61%;
    }
    
    .of2:hover{
        width:61%;
    }
    .offerte{
        margin-bottom: 20%;
    }
}
.staffdesc{
    width: 20%;
    float: left;
    margin-right: 10%;
    transition: all 0.5s ease-in-out;
}
.staffdesc:hover{
    background-color: #0000000e;
    border-radius: 5px;
}
.staffdesc:hover .dude{
    font-size: 216%;
}
.immaginestaff{
    width: 30%;
    float: left;
    border: 1px solid #ca922b49;
    border-radius: 90px;
}
.ulof1{
    display: block;
    margin: 3% 3% 2% 1%;
    background-color: transparent;
    font-size: 120%;
    font-weight: 100;
    font-family: 'Oswald';
    color: rgb(34, 34, 34);
    text-justify: distribute;
}
.iNS{
    font-family: 'Amatic SC', cursive;
    color: rgb(34, 34, 34);
    font-size: 300%;
}
.dude{
    font-family: 'Amatic SC', cursive;
    color: #000000d7;
    font-size: 180%;
    line-height: 250%;
    transition: all 0.5s ease-in-out;
}
.infospieg{
    width: 50%;
    background: rgba(255, 255, 255, 0.829);
    height: 30%;
    margin-top: 4%;
    padding-left: 7%;
    margin-left: 4%;
    margin-right: 4%;
}
.immaginetsdn{
    width: 40%;
    float: left;
    margin-right: 10%;
}
.descaz{
    margin-right: 5%;
}
.contattaci{
    width: 100%;
    background: rgba(255, 255, 255, 0.829);
    margin-top: 4%;
    padding-left: 7%;
    height: 20%;
}
.ulof4{
    margin: 3% 13% 0% 0%;
    background-color: transparent;
    font-size: 120%;
    font-weight: 100;
    font-family: 'Oswald';
    color: rgb(34, 34, 34);
    text-justify: distribute;
}
.socialb ul{
    list-style: none;
}

.socialb ul li a{
    font-family: 'Oswald';
    font-size: 100%;
    text-decoration: none;
    color: rgb(56, 56, 56);
}
.facebbok:hover{
    background-color: crimson;
}

.ul2 img{
    margin-left: 15%;
}

.facebook , .github , .pinterest , .instagram , .instagram , .youtube {
    margin-right: 5%;
    float: left;
}

.spso{
    font-family: 'Oswald';
    font-size: 100%;
    text-decoration: none;
    color: rgba(0, 0, 0, 0);
    transition: all 0.5s ease-in-out;
}

.facebook:hover .spso , .github:hover .spso  , .pinterest:hover .spso  , .instagram:hover .spso  , .instagram:hover .spso  , .youtube:hover .spso   {
    color: rgb(56, 56, 56);
}
.staff{
    width: 100%;
    background: rgba(255, 255, 255, 0.829);
    height: 25%;
    padding-left: 7%;
    margin-top: 20%;
    opacity: 0;
    margin-top: 90%;
    animation: 1s slidefade 1s forwards;
}
@keyframes slidefade{
    100%{
        opacity: 1;
        position:relative;
        margin-top: 20%;
    }
}

@media only screen and (max-width: 780px) {
    .staff{
        height: 27%;
    }
    .iNS{
        font-family: 'Amatic SC', cursive;
        color: rgb(34, 34, 34);
        font-size: 200%;
    }
    .contattaci{
        width: 100%;
        background: rgba(255, 255, 255, 0.829);
        margin-top: 4%;
        padding-left: 1%;
        height: 30%;
    }
    .ul2 img{
        margin-left: 2%;
    }

    .facebook , .github , .pinterest , .instagram , .instagram , .youtube {
        margin-right: 1%;
        float: none;
    }

    nav { margin: 0; }
    
    .toggle + a,
    .menu { display: none; }

    [id^=drop]:checked + ul { display: block; }
    .menu{
        background-color: #e0e0e0c4;
        width: 100%
    }
    nav ul li {
      display: block;
      width: 100%;
    }
    .togglelog{
      display: block;
    }
    .toggle{
      display: block;
    }
    .menu{
        position: absolute;
    }
    .ulof1{

        font-size: 100%;
    }
    .infospieg{
        width: 100%;
        background: rgba(255, 255, 255, 0.829);
        height: 20%;
        margin-top: 4%;
        padding-left: 7%;
        margin-left: 0%;
        margin-right: 0%;
    }
    nav ul ul {
      float: none;
      position: static;
      color: #ffffff;
      padding-left: 10%;
    }

    nav ul ul li:hover > ul,
    nav ul li:hover > ul { display: none; }

    nav ul ul li {
      display: block;
    }
    .logo2c{
      display: none;
    }
    .wrapper {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: 1.6cm 160cm 7cm;
    }
    .wrapper2 {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: 1.6cm 100cm 6cm;
    }
    .info{
        display:inline-block;
        width: 100%;
    }

    .titoli1{
        font-size: 200%;
    }
    
    .titoli2{
        font-size: 114%;
        font-weight: 100;
    }
    .ptesto{
        width: 100%;
        margin-left: 0%;
        margin-top: 50%;
        padding-top: 20%;
    }
    .h2dids{
        font-size: 200%;
    }
    .h2dids2{
        font-size: 200%;
    }
    .bodyN{
        background-image: linear-gradient(#e0e0e0c4, rgb(0, 65, 59));
    }
    .costo{
        width: 60%;
    }
    .divimg{
        height: 60%;
    }
    .afoot2{
        margin-top: 56%;
    }
    .staffdesc{
        width: 100% !important;
    }
    .dude{
        font-size: 140%
    }
    .staffdesc:hover .dude{
        font-size: 145%;
    }
}
@media only screen and (max-width:300px){
    .afoot2{
        margin-top: 80%;
    }
}