html{
    height: 100%;
    overflow: hidden;
}

.bodyindex{
    background-image: url(/img/air.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    word-wrap: break-word;
    margin: 0;
    padding: 0;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100%;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1.6cm 65cm 6cm;
	animation: 0.8s fadeinentrata 0.8s forwards;
	opacity: 0;
}
@keyframes fadeinentrata {
	100%{
        opacity: 1; 
    }
}

nav {
    grid-column: span 12;
}

.mezzo {
    grid-column: span 12;
    margin-top: 20%;
}

footer{
    grid-column: span 12;
    border-top: solid grey 1px;
}

.toggle, [id^=drop] {
    display: none;
    }
label{
    display: none;
}
nav {
    margin: 0;
    padding: 0;
    background-color: #e0e0e059;
}

#logo {
    display: block;
    padding: 0 30px;
    float: left;
    font-size: 20px;
    line-height: 60px;
}
   
nav:after {
    content: "";
    display: table;
    clear: both;
}
   
nav ul {
    float: left;
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
}
nav ul li {
    margin: 0px;
    display: inline-block;
}
   
nav a {
    display: block;
    padding: 0 20px;
    color: rgb(0, 65, 59);
    font-family: 'Oswald';
    text-rendering: optimizeLegibility;
    font-size: 16.5px;
    line-height: 60px;
    text-decoration: none;
    -webkit-transition: color 300ms ease;
    transition: color 300ms ease;  
    text-transform: uppercase;
}
nav ul ul a{
    line-height: 40px;
}

nav a:hover {
    color: rgba(0, 60, 88, 0.548);
    text-decoration: underline;
}


   
nav ul ul {
    display: none;
    position: absolute;
    top: 60px;
    background-color: #e0e0e059;
}
   
nav ul li:hover > ul { display: inherit; }
   
nav ul ul li {
    width: 170px;
    float: none;
    display: list-item;
    position: relative;
    color:#e0e0e0c4;
}
   
nav ul ul ul li {
    position: relative;
    color:#e0e0e0c4;
}
#logo2{
    font-family: 'Lobster', cursive;
    color: #885800;
    margin-right: 1cm;
    border: 2px solid rgba(0, 60, 88, 0.548);
    margin-top: 10px;
    border-radius: 2px;
    margin-bottom: 0%;
    transition-property: color;
    transition-duration: 2s;
    transition-timing-function: linear;
}
 
#logo2:hover{
    color: rgba(0, 60, 88, 0.548);
}
 
.logo2c{
    margin-left: 0.5cm;
}
.togglelog {
   font-family: 'Lobster', cursive;
   color: #ca932b;
   border: 2px solid rgba(0, 60, 88, 0.548);
   margin-top: 5px;
   font-size: 220%;
   padding-left: 10%;
}
 
   
@media all and (max-width : 768px) {
 
    nav { margin: 0; }
    
    .toggle + a,
    .menu { display: none; }

    [id^=drop]:checked + ul { display: block; }
    .menu{
        background-color: #e0e0e0c4;
        width: 100%
    }
    nav ul li {
      display: block;
      width: 100%;
    }
    .togglelog{
      display: block;
    }
    .toggle{
      display: block;
    }

    nav ul ul {
      float: none;
      position: static;
      color: #ffffff;
      padding-left: 10%;
    }

    nav ul ul li:hover > ul,
    nav ul li:hover > ul { display: none; }

    nav ul ul li {
      display: block;
    }
    .logo2c{
      display: none;
    }

}

.titoli1{
    font-family: 'Amatic SC', cursive;
    font-size: 400%;
    color: rgb(0, 65, 59);
    padding-left: 5%;

}

.titoli2{
    font-family: 'Lobster', cursive;
    margin-bottom: 1%;
    margin-top: 1%;
    color: #3c4264;
    padding-left: 5%;
    font-size: 180%;
    font-weight: 100;
    text-align: left;
}

.titoloant{
    color: rgb(29, 29, 29);
    font-family: 'Amatic SC', cursive;
    font-size: 234%;  
    background: rgba(242, 254, 255, 0.829);
    width: 100%;
    text-align: center;
    padding-top: 0.5%;
    height: 6%;
}

.ptesto{
    background: rgba(242, 254, 255, 0.829);
    width: 60%;
    padding-top: 1%;
    height: 40%;
    margin-left: 1%;
}
@media only screen and (max-width:1700px){
    .ptesto{
        height: 60%;
    }

}

  .anteprima{
    background-color: rgba(255, 254, 255, 0.904);
    height: 60%;
    width: 100%;
  }

.page{
    width: 100%;
    background-image: url(img/ee.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 1920px;
    height: 30%;
}
  
  .slider-container{
    height: 50%;
    width: 50%;
    float: left;
    position: relative;
    float: left;
    overflow: hidden; 
    text-align: center;
  }
  
  .menuimmagini {
    width: 100%;
    position: absolute;
    left: 0;
    z-index: 900;
    bottom: 0;
  }
  
  .menuimmagini label {
    cursor: pointer;
    display: inline-block;
    width: 16px;
    height: 16px;
    background: #fff;
    border-radius: 50px;
    margin: 0 .2em 1em;
  }
  
  .slide {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 100%;
    z-index: 10;
    padding: 8em 1em 0;
    background-size: cover;
    background-position: 50% 50%;
    transition: left 0s .75s;
  }
  
  [id^="slide"]:checked + .slide {
    transition: left .65s ease-out;
    left: 0;
    z-index: 100;
  }
  
  .slide-1 {
    background-image: url(/img/Unguja.JPG);
  }
  .slide-2 {
    background-image: url(/img/Brentonico.jpg);
  }
  .slide-3 {
    background-image: url(/img/Waitakere.jpg);
  }
  .slide-4 {
    background-image: url(/img/immaginibrentonico/estb2.JPG);
  }
  .slide-5 {
    background-image: url(/img/immaginiRuaha/RBG.jpg);
  }


p{
    font-family: 'Oswald';
    color: #3b3b3b;
    font-size: 140%;
    margin-bottom: 1%;
}
@media only screen and (max-width:780px){
    p{
        font-size: 100%;
        font-weight: 100;
    }
    .titoli1{
        font-size: 200%;
    }
    
    .titoli2{
        font-size: 114%;
        font-weight: 100;
    }
    .ptesto{
        width: 100%;
        margin-top: 50%;
        padding-top: 20%;
    }

    .testodesc{
        padding-right: 2%;
        padding-left: 2%;
        margin-left: 0% !important;
        background: rgba(242, 254, 255, 0.829);
    }

    .anteprima{
        background-color: rgba(255, 254, 255, 0.904);
        height: 200%;
        width: 100%;
    }
    
    .wrapper {
        grid-template-rows: 1.6cm 55cm 5cm;
    }
    .anteprima{
        height: 50%;
    }
    .image1{
        width: 100%;
    }
    .titoloant{
        font-size: 180%;  
    }
    .afoot2{
        margin-top: 50%;
    }
    .slider-container{
        height: 17%;
        width: 100%;
        float: none;
    }
}
@media only screen and (max-width:300px){
    .afoot2{
        margin-top: 80%;
    }
}
.testodesc{
    padding-right: 2%;
    margin-left: 55%;
    padding-left: 2%;
    height: 50%;
    background: rgba(242, 254, 255, 0.829);
}

.footerul {
    display: block;
    width: 100%;
    line-height: 250%;
}

.afoot{
    font-size: 90%;
    color: rgb(214, 210, 190);
    font-family: 'Oswald';
}
.afoot:hover{
    color: #ffffff;
    font-size: 90.6%;
    text-decoration: underline;
}
.info{
    float: left;
    height: 4%;
    background-color: transparent;
}
.afoot2{
    padding-top: 3%;
    font-family: 'Oswald';
    color: #e0e0e0;
    margin-left: 5%;
    text-align: right;
    margin-right: 10%;
    height: 40%;
}
.imagered1{
    width: 30%;
    height: 30%;
    margin-right: 0.8%;
    transition: all 0.5s ease-in-out;
}
.imagered2{
    width: 40%;
    height: 40%;
    margin-left: 3%;
    margin-right: 2%;
    transition: all 0.5s ease-in-out;
}
.serieimg{
    width: 100%;
    margin-top: 3%;
}
.imagered1:hover{
    width: 30.5%;
    height: 30.5%;
    margin-bottom: -0.4%;
    margin-right: 0.3%;
}
.imagered2:hover{
    width: 40.5%;
    height:  40.5%;
    margin-right: 1.5%;
}
